<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
  <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/js/cssandjs/main.js}"></script>

  <link th:rel="stylesheet" th:href="@{assets/bootstrap-slider/css/bootstrap-slider.css}"/>
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="/mainPage">Netflix</a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/mainPage">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/personalArea">Personal Area</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<form th:action="@{/buySubscription}" enctype="multipart/form-data" method="post">
  <table>
    <tr>
      <td><label for="username">Name:</label></td>
      <td><input type="text" th:value="${username}" name="username" id="username"></td>
    </tr>
    <td><label for="genre">Genre:</label></td>
    <td><input type="text" th:value="${genre}" name="genre" id="genre"></td>
    <tr>
      <td><label for="today">Start day:</label></td>
      <td><input type="text" th:value="${today}" name="today" id="today"></td>
    </tr>
    <tr>
      <td><label> Type:</label></td>
      <td>
          <select  name = "subType">
            <option value="0">select option</option>
            <option th:each="option : ${subTypes}" th:value="${option}" th:text="${option}"></option>
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="2"><center> <input type="submit" class="submit" value="Buy" /></center></td>
    </tr>
  </table>
</form>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:rel="stylesheet" th:src="@{assets/bootstrap-slider/bootstrap-slider.js}"></script>



</body>
</html>
